body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #efd19a;
}

.gallery-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 10px;
    text-align: center;
}

h1{
    color: #ca3905;
    text-shadow: 2px 2px coral;
}

h3 {
    font-weight: lighter;
    color: grey;
    margin-bottom: 2rem;
    font-size: 14px;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #f69f7f;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.filter-btn.active, .filter-btn:hover {
    background: orangered;
    color: #fff;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-img {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5rem 1rem;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #ed4a0f;
}

.modal-caption {
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
